<h3>イベント一覧</h3>
<div class="called">
  <div id="calendar"></div>
</div>
<div class="list-up">
  <% @events.each do |e| %>
    <ul>
      <td>
        <%= link_to e.name,event_path(e)%>
      </td>
      <td>
        <%= e.start_at.strftime('%Y年%m月%d日 %H時%M分') %>~
      </td>
      <td>
        <%= e.end_at.strftime('%Y年%m月%d日 %H時%M分') %>
      </td>
    </ul>
  <% end %>
</div>
