<% now = Time.zone.now %>
<div class="group-table">
  <h3><%= now.month %>月のイベント</h3>
</div>
<div class="container">
  <div class="called">
    <div id="calendar"></div>
  </div>
</div>
<div class="list-up">
  <% @event.each do |e| %>
    <table class="table">
      <tr>
        <th>
          <%= link_to e.name, event_path(e) %>
        </th>
        <th>
          <%= e.start_at.strftime('%Y年%m月%d日 %H時%M分') %>~
          <%= e.end_at.strftime('%Y年%m月%d日 %H時%M分') %>
        </th>
      </tr>
    </table>
  <% end %>
</div>

