/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */


@import "bootstrap";
@import "summernote-bs4";

body {
  background-color: #fff;
  color: #333;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 15px;
  line-height: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
  padding: 10px 50px 0px 50px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;

  &:visited {
    color: #666;
  }

  &:hover {
    color: lightsalmon;
  }
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #666;
  }

  ul li {
    font-size: 12px;
    list-style: square;
    padding: 12px;
  }
}

label {
  display: block;
}

input[type="text"] {
  width: 60%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus {
  border-color: salmon;
  box-shadow: 0 0 8px 0 salmon;
}

input[type="password"] {
  width: 60%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="password"]:focus {
  border-color: salmon;
  box-shadow: 0 0 8px 0 salmon;
}

input[type="email"] {

  width: 60%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="email"]:focus {
  border-color: salmon;
  box-shadow: 0 0 8px 0 salmon;
}

.title{
  margin: 0 20%;
}

.form-group{
  text-align: center;
}

.form-btn{
  text-align: center;
}
.f-btn{
  margin: 0 0 0 59%;
}
.newre{
  margin: 0 20%;
}

.card-columns{
  margin: 0 0 0 10%;
}

.htitle{
  text-align: center;
  margin: 4% 0;
}