// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-group{
  margin: 10px 170px;
}

.btn{
  padding:3px 5px 0 100px;
}
.btn-border{
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid salmon;
  font-size: 16px;
  color: salmon;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: .7s;

}

.btn:hover {
  background-color: lightblue;
  border-color: black;
  color: lightblue;
}

.called{
  margin: 0 20%;
}

.list-up{
  margin: 0 20%;
  text-align:center
}

h1{
  margin: 0 20%;
}
.card{
  margin: 0 20%;
}