// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homeimg1 img{
  width: 100%;
  height: 620px;
}


.homeimg2 img{
  width: 100%;
  height: 620px;

}
