<h3>スタジオ一覧</h3>
<div class="list-group">
  <% @studios.each do |s| %>
    <tr>
      <td>
        <%= link_to s.name, studio_path(s) %>
      </td>
      <td>
        <%#= s.mail %>
      </td>
    </tr>
  <% end %>
</div>